.featured {
    &__list {
        display: flex;
        flex-direction: column;
        gap: 3.5rem;
    }

    @media only screen and (min-width: $bp-desktop) {
        grid-column: 1 / 4;
        grid-row: 2 / 3;

        &__list {
            flex-direction: row;
            justify-content: space-between;
            gap: 3rem;

            & > * {
                flex: 1 1 35rem;
            }
        }
    }
}