.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        width: 4.5rem;
        height: 2.8rem;
    }

    &__hamburger-menu {
        cursor: pointer;
    }

    @media only screen and (min-width: $bp-desktop) {
        &__logo {
            width: 6.4rem;
            height: 4rem;
        }

        &__hamburger-menu {
            display: none;
        }
    }
}