.main {
    display: grid;
    row-gap: 6.4rem;
    margin-top: 3.2rem;

    @media only screen and (min-width: $bp-desktop) {
        margin-top: 5.5rem;
        grid-template-columns: repeat(3, 35rem);
        grid-template-rows: repeat(2, auto);
        column-gap: 3rem;
        row-gap: 7.2rem;
    }
}