.main {
    display: grid;
    row-gap: 6.4rem;
    margin-top: 3.2rem;

    @media only screen and (min-width: $bp-desktop) {
        margin-top: 5.5rem;
        grid-template-columns: 73rem auto;
        grid-template-rows: auto auto;
        row-gap: 7.2rem;
        column-gap: 3rem;
    }
}