:root {
    --color-almost-white: #FFFDFA;
    --color-very-dark-blue: #00001A;
    --color-grayish-blue: #5E607A;
    --color-soft-red: #F15D51;
    --color-silver: #C5C6CE;
    --color-yellow: #E9AA52;
    --color-grey-1: #D8D8D8;

    --ff-body: 'Inter', sans-serif;
    --fw-regular: 400;
    --fw-bold: 700;
    --fw-extra-bold: 800;
}

$bp-tablet: 48em; // 768px
$bp-desktop: 90em; // 1440px

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

img {
    display: block;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {    
    overflow-x: hidden;
    background-color: var(--color-almost-white);
    
    // center content on page
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
}
